@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html{
  font-family:"Open Sans", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

/* prevents zoomining in on iphone  */
body{
  font-size: 16px;
  letter-spacing: 1px;
  box-sizing: border-box;
}

.navbar{
  height:10% ;
}
/* header{
  margin-top: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
} */

h1, h4{
  font-variant: small-caps;
  font-weight: 700;
  text-align: center;
}

.header h1::first-letter  {
  color: rebeccapurple;

}


.content a{
  text-decoration: none;
  /* height: 20vh; */
  /* margin: 10px; */
}


/* BLUR BG EFFECT */
.blurme {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

/* BACKGROUND CSS  */
.custom-shape-divider-top-1643772844 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1643800295 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1643800295 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 177px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1643800295 .shape-fill {
  fill: #5F2657;
}

.mark{
  border: 2px solid black;
}

/* for directories and tabs*/
.blurme {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

/* ICONS FOR ABOUT PAGE   */
#aboutmodal i{
  font-size: 16px;
  padding-right: 3px;
}

/* ICONS FOR NAVBAR   */
.navbar i{
  font-size: 26px;
  padding-right: 10px;

}

.menu-icon{
  height: 32px;
  width: auto;
}

/* FIXED BOTTOM MENU FOR SOME PAGES */
.bottom-menu{
  z-index: 10;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* SECTIONS FOR FLUID CALC PAGES */
#enter-weight-age{
  height: 100vh;
/* margin: auto; */
}

#enter-weight-age .iform{
  position: absolute;
  /* margin: auto; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#fluid-section{
  height: 100vh;
padding-top: 20px;}